<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MdyBloolDonation.Properties.Settings.DNDBConnection"
            connectionString="Data Source=localhost;Initial Catalog=BloodDonation;User ID=sa;Password=soe311095mmocc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>